*{
    margin: 0%;
    padding: 0%;
}
.narbar{
   height: 100px; 
   padding-left: 20%;
   font-size: 25px;
}
.nav-link a{
    color: aliceblue;
}
.done{
    text-align: center;
}
.paragraph{
    margin-top: 5%;
}
.landpage{
    background-image: linear-gradient(rgb(33, 77, 189), rgb(158, 17, 174));
}
#product{
    display: grid;
    grid-template-columns: repeat(4,1fr);
 
    margin-left: 10%;

}
#product img{
height: 250px;
width: 250px;
margin-top: 10%;
border-radius: 20px;
}
#product h2{
    font-size: 20px;
    text-align: center;
}
#ad{
    color: yellow;
}
.endpage{
    background-color: rgb(35, 33, 33);
    color: aliceblue;
    padding-top: 5%;
}
.footer{
    margin-left: 3%;
   
}

.footer ul{

list-style: none;   
}
